[
    (
        action: (
            name: "MouseLeft",
            key: MouseButton(Button1),
            action: Press,
        ),
        value: Trigger,
    ),
    (
        action: (
            name: "MouseRight",
            key: MouseButton(Button2),
            action: Press,
        ),
        value: Trigger,
    ),
    (
        action: (
            name: "Up",
            key: Key(W),
            action: Press,
        ),
        value: Value(-1.0),
    ),
    (
        action: (
            name: "Up",
            key: Key(S),
            action: Press,
        ),
        value: Value(1.0),
    ),
    (
        action: (
            name: "Up",
            key: Key(S),
            action: Release,
        ),
        value: Value(0.0),
    ),
    (
        action: (
            name: "Up",
            key: Key(W),
            action: Release,
        ),
        value: Value(0.0),
    ),
    (
        action: (
            name: "Right",
            key: Key(A),
            action: Press,
        ),
        value: Value(-1.0),
    ),
    (
        action: (
            name: "Right",
            key: Key(D),
            action: Press,
        ),
        value: Value(1.0),
    ),
    (
        action: (
            name: "Right",
            key: Key(A),
            action: Release,
        ),
        value: Value(0.0),
    ),
    (
        action: (
            name: "Right",
            key: Key(D),
            action: Release,
        ),
        value: Value(0.0),
    ),

    (
        action: (
            name: "Escape",
            key: Key(Escape),
            action: Press,
        ),
        value: Trigger,
    ),
]
